body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

#app {
  display: flex;
  flex-direction: row;
}

#paper-container {
  flex-grow: 1;
  height: 100vh;
  border-right: 1px solid #ddd;
}

#inspector-container {
  width: 250px;
  padding: 1rem;
  background: #f9f9f9;
  overflow-y: auto;
}

Ju